body {
  background-color: var(--backgroud-color);
  color: var(--text-color);
  font-family: "Roboto", Verdana, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
