.header {
  background-color: var(--background-color);
  //align-items: center;
  border-bottom: 1px solid var(--border-header-color);
  .container {
    display: flex;
    align-items: center;
  }
}
.nav {
  display: flex;
}
.nav__logo {
  display: block;
  padding: 16px 0 16px 0;
  //padding-top: 24px;
  //margin-right: 88px;
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  //font-size: 26px;
  //line-height: 1.19;
  text-decoration: none;
}
.web {
  color: var(--accent-color);
}
.menu {
  //display: flex;
  display: none;
  flex-wrap: wrap;
  gap: 50px;
  & .current::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.menu .menu__link.current {
  color: var(--accent-color);
}
.menu__link {
  display: block;
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.contact {
  display: none;
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: 84px;
    margin-left: auto;
  }
}

.contact__link {
  @include desktop {
    display: flex;
  }

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;
  color: var(--dark-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact__mail {
  fill: currentColor;
  margin-right: 10px;
  width: 16px;
  height: 12px;
}
.contact__tel {
  fill: currentColor;
  margin-right: 10px;
  width: 10px;
  height: 16px;
}
.header-button {
  display: block;
  margin-left: auto;
  width: 40px;
  height: 40px;
 background-color: var(--background-color);
  border: none;
  fill: var(--text-color);
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      fill: var(--accent-color);}
  }

    .mob-menu {position: fixed;
      z-index: 2;
    background-color: var(--background-color);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 21px 83px 48px 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: auto;
    }
    
    .header-close-button {position: absolute;
      right: 8px;
      top: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border: none;
      cursor: pointer;
      background-color: var(--background-color);
      margin-bottom: 8px;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
         &:hover,
         &:focus {
           fill: var(--accent-color);}
         }
      

 .mob-menu__link {
      color: var(--text-color);
      font-weight: 500;
      font-size: 40px;
      line-height: 1.17;
      letter-spacing: 0.02em;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
    .mob-menu__item:not(:last-child) {margin-bottom: 32px;}
    .mob-menu__tel {
      display: block;
      font-weight: 500;
      font-size: 34px;
      line-height: 1.18;
      letter-spacing: 0.02em;
      color: var(--accent-color);
     margin-top: 306px;
     margin-bottom: 32px;
      }
      .mob-menu__mail {
        display: block;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
      color: var(--dark-text);
    margin-bottom: 64px;}
    
  .mob-menu__soc {
    display: flex;
    flex-wrap: wrap;
    }
  .mob-menu__soc-link 
      {display: inline;
        font-weight: 500;
        font-size: 17px;
        line-height: 1.22;
      letter-spacing: 0.02em;
    color: var(--accent-color);
  text-decoration: none;
padding: 10px 0;}
.mob-menu__soc-item:not(:first-child) {
  margin-left: 10px;
}
.mob-menu__soc-item:not(:last-child):after {
  content: "";
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
  
}
.current {color: var(--accent-color);}