:root {
  --background-color: #ffffff;
  --accent-color: #2196f3;
  --dark-background: #2f303a;
  --tone-color: #f5f4fa;
  --text-color: #212121;
  --dark-text: #757575;
  --hover-button: #188ce8;
  --border-header-color: #ececec;
  --collection-color: #eeeeee;
  --soc-icon: #afb1b8;
}
